# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
venv/
env/
.venv/

# PyInstaller
build/
dist/
*.spec

# Dados clínicos / arquivos grandes
*.snctxt
*.rfb
*.mcc
*.dta
*.ALL
*.sncxml
*.pdf
*.zip
*.PNG
*.png

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
desktop.ini
