# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
venv/
env/
.venv/

# PyInstaller
build/
dist/
*.spec

# Pasta de dados brutos do curso (excluída intencionalmente)
CRUSO SRS E2E/dados/

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
desktop.ini
